@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<GummiBearKingdom.Models.Product>
<div class="row">
    <div class="col-md-5">
        <img class="gummy-pic" src="~/img/gummies.jpg" />
    </div>
    <div class="col-md-7">
        <h2 class="dark-red bold">Gummies!</h2>
        <p>Gummies ipsum dolor sit amet cookie cake apple pie brownie. Candy canes sugar plum jelly beans brownie jelly beans lemon drops wafer. Cookie cake oat cake powder donut dessert. Caramels tootsie roll chupa chups lemon drops I love. Pudding chupa chups marzipan I love liquorice lollipop. </p>
        <p>Powder ice cream lollipop cotton candy dragée cake brownie. Gingerbread icing jujubes I love. Toffee I love lollipop macaroon icing lollipop. I love brownie lollipop sweet I love topping macaroon dessert ice cream. I love halvah toffee cookie cupcake marshmallow pudding. </p>
    </div>
</div>

@foreach (var product in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6 gummi-display">
        <h4> @Html.ActionLink(product.Name, "Details", new { id = product.ProductId })</h4>
    </div>
}



<div>@Html.ActionLink("Add new product", "Create", new { @class = "btn btn-success" })</div>